<?xml version="1.0" encoding="UTF-8"?>
<window>
  <onload condition="!Skin.HasSetting(technician_mode)">ActivateWindow(1113)</onload>
  <defaultcontrol always="true">2100</defaultcontrol>
  <controls>
    <include>FullBackground</include>
    <include>TopHeader</include>
    <control type="label">
      <left>90</left>
      <top>180</top>
      <width>1000</width>
      <height>52</height>
      <font>font_button</font>
      <textcolor>FFF0B04A</textcolor>
      <label>Einrichtung und Betreuung</label>
    </control>
    <control type="label">
      <left>90</left>
      <top>238</top>
      <width>1480</width>
      <height>40</height>
      <font>font_body</font>
      <textcolor>FFD9D2C4</textcolor>
      <label>Dieser Bereich ist fuer die einmalige Vorbereitung und spaetere technische Betreuung gedacht.</label>
    </control>
    <include>SettingsMenuList</include>
  </controls>
</window>
